rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reports/{reportId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && 
                       request.resource.data.authorUid == request.auth.uid &&
                       request.resource.data.reportType in ['activity', 'incident'];
      allow update, delete: if false;
    }

    match /filled_reports/{reportId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
